body {
    /* background-color: black; */
    background-image: url("./images/anime-gif-aesthetic-6.gif");
    background-repeat: no-repeat;
    background-size: cover;
    /* overflow: hidden; */
    /* height: 100vh; */
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* background-color:#3c4043; */
    background-color: rgba(60, 64, 67, 0.5);
}


.item {
    display: inline;
    order: 0;
    align-self: auto;
    justify-content: center;
    border-radius: 22px;
    padding-right: 3em;
    
    
}

/* hover animation */

.poster {
    opacity: 1;
    display: flex;
    
    
    transition: .5s ease;
    backface-visibility: hidden;
}

.item:hover .poster {
    opacity: 0.3;
}
 

/*  */

* {
    
    font-family: 'Zilla Slab', serif;
    /* font: 'zilla Slab'; */
    
}
.select {
    order: 6;
}

h1 {
    color: aliceblue;
    text-align: center;
    border-style: solid;
    border-radius: 22px;
    border-width: 5px;
    margin: 50px;
    background-color: rgba(60, 64, 67, 0.5);
    /* width: 400px; */
    
    
 
}

h2 {
    color: aliceblue;
}
label {
    color: aliceblue;
    font-weight: 200px;
    font-size: larger;
}
p {
    color: aliceblue;
}
.text {
    color:aliceblue;
}
img {
    border-radius: 8px;
    display: flex;
}
/* table {
    background-color: #3c4043;
} */
tr {
    color: aliceblue;
    border: 1px solid aliceblue;
}
th {
    color: aliceblue;
    border: 1px solid aliceblue;
}
td {
    color: aliceblue;
    border: 1px solid aliceblue;
}
div {
    color: aliceblue;
}
#control {
    padding-top: 25px;
    
    
}
#TableDiv {
    background-color: rgba(60, 64, 67, 0.5);
}

table {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 45px;
}


/* CSS */
button {
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform,opacity;
  z-index: 0;
}

button:hover {
  background: #F6F9FE;
  color: #174ea6;
}

button:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

button:focus {
  outline: none;
  border: 2px solid #4285f4;
}

button:not(:disabled) {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

button:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

button:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

button:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

button:disabled {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}